{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Media Form</title>
  </head>
  <body>
    {%include 'navbar.html'%}
    <h1 style="text-align: center;">Customer Service</h1>

    <div class="formulir">
      <form id="nform" action="" method="POST">
        {% csrf_token %}
        <div id="form-input">

          <div class="d-flex justify-content-center">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Nama:</label>
              </div>
              <div class="col-auto">
                <input type="text" name="nama" maxlength="100" id="nama" class="form-control" aria-describedby="passwordHelpInline">
              </div>
            </div>
          </div>

          <br>
          <p style="text-align: center;">Silahkan pilih media untuk menghubungi kami:</p>

          <div class="d-flex justify-content-center">
            <div class="form-check">
              <input class="form-check-input"  type="radio" id="media" name="media" value="instagram">
              <label class="form-check-label" for="media">
                Instagram
              </label>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="form-check">
              <input class="form-check-input"  type="radio" id="media" name="media" value="twitter">
              <label class="form-check-label" for="media">
                Twitter
              </label>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="form-check">
              <input class="form-check-input"  type="radio" id="media" name="media" value="telepon">
              <label class="form-check-label" for="media">
                Telepon
              </label>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="form-check">
              <input class="form-check-input"  type="radio" id="media" name="media" value="semua">
              <label class="form-check-label" for="media">
                Semua
              </label>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <input type="submit" value="Submit">
          </div>
          
        </div>
      </form>
    </div>
    <!--
    <form action="" method="POST">
        {% csrf_token %}
        <label for="temp">Name:</label>
        <input type="text" name="nama"><br><br>
        <!--{{form.name}}-->
        <!--
        <label for="temp">Media:</label>
        <input type="text" name="media"><br><br>
        <input type="submit" value="Submit">
    </form>-->
  </body>
  <script type="text/javascript">
    $(document).on('submit', '#nform', function(e){
      e.preventDefault();

      $.ajax({
        type: 'POST',
        url: '/cs/tambah/',
        data: {
          nama:$('#nama').val(),
          media:$('#media:checked').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken').val()
        },
        sucess:function(){
            alert("Berhasil");
        }
      });
    });
  </script>
</html>