{%load static%}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Hachoo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vaksin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Informasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'index'%}">Layanan Pengguna</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Donasi
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Donasi Uang</a></li>
              <li><a class="dropdown-item" href="#">Donasi APD / Tabung Oksigen</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <!-- Untuk Profile -->
        {% if not user.is_authenticated %}
        <form class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-success me-2">Sign Up</button>
            <button class="btn btn-outline-success ml-3 text-dark px-3" type="submit">Log In</button>
        </form>
        {% else %}
            <!-- klo udh login ntar -->
            <!-- <p class="text-center authenticated_cust">Hi, {{ user.first_name }}!</p> -->
        {% endif %}
      </div>
    </div>
  </nav>